


<div class="container py-3">
    <div class="row">
        <div class="col-md-2 text-left div-left">

            <ul class = "nav flex-column nav-pills"> 
                <li class="nav-item my-2" >
                    <a class="nav-link btn-outline-dark" routerLink = "/admin/create-advisory" 
                     routerLinkActive = "active" 
                    >
                        Add advisory
                    </a>

                </li>




            </ul>

        </div>

        <div class="col-md-10 text-center">
           <router-outlet></router-outlet>
        </div>
    </div>
</div>


